:root {
  --fontsize-s: 18px;
  --fontsize-m: 34px;
  --fontsize-l: 80px;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  /* overflow:hidden ; */
  background-color: black;
}

.experience{ 
  position: fixed;
  top: 0;
  left: 0;
  /* outline:none; */
}

.scrollable-container {
    /* Altura deseada para el contenedor eliminar cuando este termiando*/
    height: 25000px;

  overflow:visible;
  font-family: 'Courier Prime', monospace;
  
}

.navbar{
  position: fixed;
  display: flex ;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 102px;
  opacity: 0.5;
}

.navbar > img{
  width: 150px;
  padding-left: 18px;
}

.navbar > button{
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Courier Prime', monospace;
  font-size: var(--fontsize-m);
  padding-right: 18px;
  cursor: pointer;
  /* padding-right: 80px; */
}


.overlay { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  /* backdrop-filter: blur(10px);   */
  color: white;
}

.overlay > image {
  opacity: 0.5;
}

.overlay--inactive{
  transition: opacity 0.5s;
  opacity: 0;
}

.overlay > header{ 
  margin-top: 48px;
  display: flex;
  justify-content: center
}

.overlay > p{ 
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-align: center;
}

.overlay > footer{ 
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  

}

.button_start-experience{ 
  font-family: 'Courier Prime', monospace;
  cursor: pointer;
  width: 300px;
  height: 75px;
  font-size: 30px;
  border-radius: 60px;
  background-color: black;
  color: white;
  border: solid 1px white;
  opacity: 0;
}
.button_start-experience--active{
  transition: opacity 0.25s;
  opacity: 1;
}

.text {
  display: none;
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  text-align: center;
  transition: opacity 0.5s;
}

.text-4 > div {
  font-size: 80px;
}

.text-4 > div > footer {
  display: flex;
  justify-content: space-around;
}

.button_generate-now{
  font-family: 'Courier Prime', monospace;
  cursor: pointer;
  width: 300px;
  height: 80px;
  font-size: 30px;
  border-radius: 60px;
  margin-top: 24px;
  background-color: #e17209;
  color: white;
  border: none;
}

.text-4 > div > footer > div > button{
  font-family: 'Courier Prime', monospace;
  cursor: pointer;
  width: 300px;
  height: 80px;
  font-size: 30px;
  border-radius: 60px;
  margin-top: 24px;
  
}

.button_generate-then{
  background-color: transparent;
  backdrop-filter: blur(1px);
  color: white;
  border: solid 1px white;
  position: absolute;
}

.button_generate-then--active {
  border: none;
  background-color: white;
  color: black;
  clip-path: polygon(50% 0%, 50% 100%, 0% 100%, 0% 0%);
}

@media (max-width: 800px) {
  .overlay > p {
    font-size: 25px;
  }
  .overlay > footer {
    scale: 0.75;
  }
  .text {
    font-size: 30px;
  }
  .text-4 > div {
    font-size: 35px;
  }
  .text-4 > div > footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .text-4 > div > footer > button{
    width: 250px;
    height: 60px;
    font-size: 22px;
    /* padding-bottom: 5; */
  }
  .text-4 > div > footer > div > button{
    width: 250px;
    height: 60px;
    font-size: 22px;
    /* padding-bottom: 5; */
  }
  .overlay > footer{ 
    margin-bottom: 94px;
  }


}