:root {
  --fontsize-xs: 22px;
  --fontsize-s: 32px;
  --fontsize-m: 64px;
  --fontsize-l: 96px;
}

* {
  margin: 0px;
  padding: 0px;
}

html, body {
  /* overflow:hidden ; */
  background-color: black;
}

.experience{ 
  position: fixed;
  top: 0;
  left: 0;
  /* outline:none; */
}

.scrollable-container {
    /* Altura deseada para el contenedor eliminar cuando este termiando
    height: 25000px; */

  overflow:visible;
  font-family: 'Courier Prime', monospace;
  
}

.navbar{
  position: fixed;
  display: flex ;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 102px;
  opacity: 0.5;
}

.navbar > img{
  width: 150px;
  padding-left: 24px;
}

.navbar > button{
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Courier Prime', monospace;
  font-size: var(--fontsize-s);
  padding-right: 24px;
  cursor: pointer;
  /* padding-right: 80px; */
}

.text {
  display: none;
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: var(--fontsize-l);;
  text-align: center;
  transition: opacity 0.5s;
}

.text-0{
  display: flex;
  flex-direction: column;
}

.text-0 > footer {
  font-size: var(--fontsize-s);
  border: solid 1px white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 364px;
  height: 64px;
  position: fixed;
  bottom: 264px;
}

.text-4 > div > footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}

.generate-now{
  display: flex;
  color: black;
  align-items: center;
  width: 364px;
  height: 64px;
  padding: 1px;
  border: 1px solid rgba(255, 255, 255, 0.5);  
}

.button_generate-now{
  background-color: white;
  color: black;
  width: 80%;
  height: 100%;
  border: none;
  align-items: center;
  text-align: center;
  font-family: 'Courier Prime', monospace;
  font-size: var(--fontsize-s);
  cursor: pointer;

}

.generate-now > svg{
  width: 20%;
  height: 100%;
  background-color: #e17209;
  cursor: pointer;

}


.generate-then{
  width: 364px;
  height: 64px;
  display: flex;
  position: relative; /* Establece el contenedor en posición relativa */

}

.button_generate-then{
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-family: 'Courier Prime', monospace;
  font-size: var(--fontsize-s);
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  
}

.button_generate-then--active {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
  color: black;
  font-family: 'Courier Prime', monospace;
  font-size: var(--fontsize-s);
  position: absolute;
  cursor: pointer;
}

@media (max-width: 800px) {
  .text{
    font-size: var(--fontsize-s);
  }

  .text-0 > footer {
    font-size: var(--fontsize-xs);
    width: 60%;
    height: 64px;
    bottom: 128px;
  }

  .text-4{
    font-size: var(--fontsize-s);
  }
  .text-4 > div > footer{
    flex-direction: column;
  }
  .text-4 > div > footer > div > button{
    font-size: var(--fontsize-xs);
  }
  .generate-then{
    margin-top: 24px;
  }
}